<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top border-bottom">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        {% for item in site.nav %}
        <li class="nav-item"><a class="nav-link" href="{{ item.href }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
