<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Exv3c3L3I1BmjF7Zljuq5mDQaqBC01CxEjUKakSe2wM" />
  <link rel="icon" href="/assets/img/falvicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/img/falvicon.png" type="image/png">
  <!-- Set browser tab title -->
  <title>{{ page.title | default: site.title }}</title>

  <!-- Meta description for SEO -->
  <meta name="description" content="{{ page.description | default: site.description }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/img/falvicon.png' | relative_url }}">

  <!-- Bootstrap + CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
</head>
<body>
  {% include nav.html %}
  {{ content }}

  <main class="container mt-5 pt-4">
  </main>

  {% include footer.html %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
